.ResumeLection{
    font-family: var(--principal-font);
    color: white;
}

.ResumeLection--Border{
    border-radius: 125px;
    width: 250px;
    height: 225px;
    background-color: #E18383;
    border: 10px solid white;
}
